
@{
    ViewBag.Title = "Demo1";
}
<link href="~/src/style/index.css" rel="stylesheet" />
<script src="~/dist/buddle.js"></script>
<script>

</script>
<ul>
    <li>1</li>
    <li>1</li>
    <li>1</li>
    <li>1</li>
    <li>1</li>
    <li>1</li>
    <li>1</li>
    <li>1</li>
</ul>
<div id="div1"><img src="~/src/images/1.png" /></div>


